/*BASIC************************************************************
*******************************************************************/
/* line 24, ../scss/styles.scss */
body {
  color: #444;
  font-family: sans-serif, Arial;
}

/* line 29, ../scss/styles.scss */
header {
  border: 1px solid #d6d6d6;
  padding: 1em 2em;
  padding-bottom: 10px;
  margin-bottom: 2em;
  overflow: hidden;
}

/* line 37, ../scss/styles.scss */
h1 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

/* line 42, ../scss/styles.scss */
p {
  margin-bottom: .5em;
}

/* line 46, ../scss/styles.scss */
a {
  text-decoration: none;
}

/* line 50, ../scss/styles.scss */
img {
  max-width: 100%;
}

/* line 54, ../scss/styles.scss */
.content {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 59, ../scss/styles.scss */
.floated-r {
  float: right;
}

/* line 63, ../scss/styles.scss */
.floated-l {
  float: left;
}

/*NAVIGATION PANEL**************************************************
*******************************************************************/
/* line 70, ../scss/styles.scss */
.navigation-panel {
  height: 100vh;
  width: 25%;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
}

/*ADDITION INFO*****************************************************
*******************************************************************/
/* line 82, ../scss/styles.scss */
.addition-info {
  width: 25%;
  float: right;
}

/*MAIN**************************************************************
*******************************************************************/
/* line 90, ../scss/styles.scss */
.main {
  width: 50%;
  margin-left: 25%;
  margin-top: 1.5em;
  float: left;
}

/*HEADER*/
/* line 98, ../scss/styles.scss */
.business-card__logo {
  float: left;
  width: 100px;
  margin-right: 2em;
}

/* line 104, ../scss/styles.scss */
.business-card__info {
  float: left;
  max-width: 600px;
}
/* line 108, ../scss/styles.scss */
.business-card__info div {
  display: inline;
  float: left;
  margin-right: 2em;
}

/* line 115, ../scss/styles.scss */
.business-card__info--header {
  max-width: 70%;
}

/*ICONS*************************************************************
*******************************************************************/
/* line 123, ../scss/styles.scss */
.icon-arrow {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 46px;
  height: 25px;
  background-position: 0 -25px;
  position: relative;
  top: .5em;
}

/* line 130, ../scss/styles.scss */
.icon-edit {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 28px;
  height: 28px;
  background-position: 0 -54px;
}

/* line 134, ../scss/styles.scss */
.icon-arrow-down {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 27px;
  height: 10px;
  background-position: 0 -154px;
}

/* line 138, ../scss/styles.scss */
.icon-arrow-down-lg {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 59px;
  height: 22px;
  background-position: 0 -167px;
}

/* line 142, ../scss/styles.scss */
.icon-lens {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 22px;
  height: 22px;
  background-position: 0 0;
}

/* line 146, ../scss/styles.scss */
.icon-plus {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 32px;
  height: 32px;
  background-position: 0 -119px;
}

/* line 150, ../scss/styles.scss */
.icon-lens {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 32px;
  height: 32px;
  background-position: 0 -85;
}

/* line 155, ../scss/styles.scss */
.icon-container:hover {
  text-decoration: none;
}

/* line 160, ../scss/styles.scss */
.icon-inscription {
  position: relative;
  top: -11px;
  margin-left: 2px;
}
/* line 165, ../scss/styles.scss */
.icon-inscription.down {
  top: -5px;
}
