/*BASIC************************************************************
*******************************************************************/
/* line 24, ../scss/styles.scss */
body {
  color: #444;
}

/* line 28, ../scss/styles.scss */
a {
  text-decoration: none;
}

/* line 32, ../scss/styles.scss */
.content {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 37, ../scss/styles.scss */
.floated-r {
  float: right;
}

/* line 41, ../scss/styles.scss */
.floated-l {
  float: left;
}

/*NAVIGATION PANEL**************************************************
*******************************************************************/
/* line 48, ../scss/styles.scss */
.navigation-panel {
  height: 100vh;
  width: 25%;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
}

/*ADDITION INFO*****************************************************
*******************************************************************/
/* line 60, ../scss/styles.scss */
.addition-info {
  width: 25%;
  float: right;
}

/*MAIN**************************************************************
*******************************************************************/
/* line 68, ../scss/styles.scss */
.main {
  width: 50%;
  margin-left: 25%;
  float: left;
}

/*ICONS*************************************************************
*******************************************************************/
/* line 76, ../scss/styles.scss */
.icon-arrow {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 46px;
  height: 25px;
  background-position: 0 -25px;
  position: relative;
  top: 2em;
}

/* line 83, ../scss/styles.scss */
.icon-edit {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 28px;
  height: 28px;
  background-position: 0 -54px;
}

/* line 87, ../scss/styles.scss */
.icon-arrow-down {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 27px;
  height: 10px;
  background-position: 0 -154px;
}

/* line 91, ../scss/styles.scss */
.icon-arrow-down-lg {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 59px;
  height: 22px;
  background-position: 0 -167px;
}

/* line 95, ../scss/styles.scss */
.icon-lens {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 22px;
  height: 22px;
  background-position: 0 0;
}

/* line 99, ../scss/styles.scss */
.icon-plus {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 32px;
  height: 32px;
  background-position: 0 -119px;
}

/* line 103, ../scss/styles.scss */
.icon-lens {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 32px;
  height: 32px;
  background-position: 0 -85;
}

/* line 108, ../scss/styles.scss */
.icon-container:hover {
  text-decoration: none;
}

/* line 113, ../scss/styles.scss */
.icon-inscription {
  position: relative;
  top: -11px;
  margin-left: 2px;
}
/* line 118, ../scss/styles.scss */
.icon-inscription.down {
  top: -5px;
}
