/*BASIC************************************************************
*******************************************************************/
body {
    color: $dark-gray;
    font-family: sans-serif, Arial;
    font-size: 14px;
}

header {
    position: relative;
    border: 1px solid #d6d6d6;
    padding: 1em 15px;
    padding-bottom: 10px;
    margin-bottom: 2em;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

p {
    margin-bottom: .5em;
}

a {
    color: $link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

//For extending only
.href {
    color: $dark-gray;

    &:hover {
        text-decoration: none;
    }
}
//End

img {
    max-width: 100%;
}

.page {
    position: relative;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.floated-r {
	float: right;
}

.floated-l {
	float: left;
}

.align-center {
    text-align: center;
}

.navigation-panel,
.addition-info {
    background-color: $bg-color;
    padding-top: 1.5em;
}

.indented-line {
    text-indent: 1em;
}

.clear {
    clear: both;
}