




/*BASIC************************************************************
*******************************************************************/
body {
    color: #444;
}

a {
    text-decoration: none;
}

.content {
	padding-left: 15px;
	padding-right: 15px;
}

.floated-r {
	float: right;
}

.floated-l {
	float: left;
}


/*NAVIGATION PANEL**************************************************
*******************************************************************/
.navigation-panel {
    height: 100vh;
    width: 25%;
    float: left;

    position: fixed;
    left: 0;
    top: 0;
}

/*ADDITION INFO*****************************************************
*******************************************************************/
.addition-info {
    width: 25%;
    float: right;
}


/*MAIN**************************************************************
*******************************************************************/
.main {
    width: 50%;
    margin-left: 25%;
    float: left;
}

