//Variables 
$hover-effect: all .2s ease-in-out;

//Colors
$bg-color: #efefef;
$main-hover-color: #b9e986;
$pale-gray: #ccc;
$mid-gray: #939393;


//Mixins 
@mixin sprite($width, $height, $bg-pos) {
    display: inline-block;
    background-image: url("../images/sprite.png");

    width: $width;
    height: $height;
    background-position: $bg-pos;
}


/*BASIC************************************************************
*******************************************************************/
body {
    color: #444;
    font-family: sans-serif, Arial;
}

header {
    border: 1px solid #d6d6d6;
    padding: 1em 2em;
    padding-bottom: 10px;
    margin-bottom: 2em;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

p {
    margin-bottom: .5em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.content {
	padding-left: 15px;
	padding-right: 15px;
}

.floated-r {
	float: right;
}

.floated-l {
	float: left;
}


/*NAVIGATION PANEL**************************************************
*******************************************************************/
.navigation-panel {
    height: 100vh;
    width: 25%;
    float: left;

    position: fixed;
    left: 0;
    top: 0;
}

/*ADDITION INFO*****************************************************
*******************************************************************/
.addition-info {
    width: 25%;
    float: right;
}


/*MAIN**************************************************************
*******************************************************************/
.main {
    width: 50%;
    margin-left: 25%;
    margin-top: 1.5em;
    float: left;
}

/*HEADER*/
.business-card__logo {
    float: left;
    width: 100px;
    margin-right: 2em;
}

.business-card__info {
    float: left;
    max-width: 600px;

    div {
        display: inline;
        float: left;
        margin-right: 2em;
    }
}

.business-card__info--header {
    max-width: 70%;
}



/*ICONS*************************************************************
*******************************************************************/
.icon-arrow {
    @include sprite(46px, 25px, 0 -25px);

    position: relative;
    top: .5em;
}

.icon-edit {
    @include sprite(28px, 28px, 0 -54px);
}

.icon-arrow-down {
    @include sprite(27px, 10px, 0 -154px)
}

.icon-arrow-down-lg {
    @include sprite(59px, 22px, 0 -167px)
}

.icon-lens {
    @include sprite(22px, 22px, 0 0)
}

.icon-plus {
    @include sprite(32px, 32px, 0 -119px)
}

.icon-lens {
    @include sprite(32px, 32px, 0 -85)
}

.icon-container {
    &:hover {
        text-decoration: none;
    }
}

.icon-inscription {
    position: relative;
    top: -11px;
    margin-left: 2px;

    &.down {
        top: -5px;
    }
}

