/*CONTENT************************************************************

    `~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`
    //Variables 
        //Colors

    //Mixins
    `~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`

    *BASIC
    *NAVIGATION PANEL /left panel/
    *ADDITION INFO /right panel/

    *MAIN
        HEADER
        CONTENT
        TABLE

    *ICONS
    *FANCY SCROLLBAR
    *HIDE PANEL BUTTONS
    *JS

*******************************************************************/


//Variables 
//`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`
$hover-effect: all .2s ease-in-out;

//Colors
$bg-color: #efefef;
$main-hover-color: #b9e986;
$pale-gray: #ccc;
$mid-gray: #939393;
$dark-gray: #444;


//Mixins
//`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`
@mixin sprite($width, $height, $bg-pos) {
    display: inline-block;
    background-image: url("../images/sprite.png");

    width: $width;
    height: $height;
    background-position: $bg-pos;
}

@mixin accent-hover-effect {
    cursor: pointer;
    transition: $hover-effect;
    background-color: $main-hover-color;
}

@mixin centered {
    margin-left: auto;
    margin-right: auto;
}

@mixin btn {
    padding: 8px 25px;
    cursor: pointer;
}


/*BASIC************************************************************
*******************************************************************/
body {
    color: $dark-gray;
    font-family: sans-serif, Arial;
    font-size: 14px;
}

header {
    position: relative;
    border: 1px solid #d6d6d6;
    padding: 1em 15px;
    padding-bottom: 10px;
    margin-bottom: 2em;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

p {
    margin-bottom: .5em;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

//For extending only
.href {
    color: $dark-gray;

    &:hover {
        text-decoration: none;
    }
}
//End

img {
    max-width: 100%;
}

.page {
    position: relative;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.floated-r {
	float: right;
}

.floated-l {
	float: left;
}

.align-center {
    text-align: center;
}

.navigation-panel,
.addition-info {
    background-color: $bg-color;
    padding-top: 1.5em;
}

.indented-line {
    text-indent: 1em;
}

.clear {
    clear: both;
}

/*NAVIGATION PANEL**************************************************
*******************************************************************/
.navigation-panel {
    height: 100vh;
    width: 24%;
    float: left;

    position: fixed;
    left: 0;
    top: 0;
}

.input-container {
    @include centered;
    position: relative;
    width: 15em;
    padding-bottom: 1em;
    padding-right: 30px;
    border-bottom: 1px solid #c3c3c3;

    input {
        width: 15em;
        padding: 8px 25px 8px 10px;
    }
}

.list-container {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-align: center;
    overflow: auto;
    height: 80vh;
}

.option-list {
    li {
        display: inline-block;
        margin-left: 1em;
        color: $mid-gray;

        a {
            color: $mid-gray;
        }
    }

    .tabs + & {
        margin-bottom: 1em;
    }
}

.tabs {
    margin-bottom: 1em;

    li {
        @include btn;
        display: inline-block;
        background-color: $pale-gray;

        &.active {
            background-color: #fff;
            a {
                color: $mid-gray;
            }
        }

        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.list-name {
    li {
        @include centered;
        width: 80%;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #d5d5d5;

        &:hover {
            @include accent-hover-effect;
        }

        a {
            @extend .href;
        }
    }
}


/*ADDITION INFO*****************************************************
*******************************************************************/
.addition-info {
    width: 24%;
    float: right;
    padding-bottom: 2em;
}

.business-card--aside {
    margin-bottom: 2em;

    .icon-container {
        float: right;
        margin-top: 2em; 
    }
}

.business-card__title--aside {
    position: relative;
    top: 32px;
}

.business-card__info--aside {
    @extend .business-card__info; 
    float: none;
    margin-top: 1em;
}

.btn-simple {
    @include btn;
    display: inline-block;
    margin-top: 1em;
    background-color: #fff;
    color: $pale-gray;

    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: $pale-gray;
        transition: $hover-effect;
    }
}

.box {
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.bordered {
    border-bottom: 1px solid #c3c3c3;
}

.notes-container {
    position: relative;
    margin-top: 2em;

    a {
        @extend .href;
    }
}

.notes-list {
    @include centered;
    height: 190px;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    background-color: #fff;
    overflow: auto;

    li {
        overflow: hidden;
    }

    p {
        margin-bottom: .5em;
    }
}


/*MAIN**************************************************************
*******************************************************************/
.main {
    width: 50%;
    margin-left: 25%;
    margin-top: 1.5em;
    float: left;
}

/*HEADER*/
.business-card__logo {
    float: left;
    width: 100px;
    margin-right: 2em;
}

.business-card__info--header {
    @extend .business-card__info;
    max-width: 70%;
}

//For extending only 
.business-card__info {
    float: left;

    div {
        display: inline;
        float: left;
        margin-right: 2em;
    }
}
//End

/*CONTENT*/
.content {
    border: 1px solid #ddd;
    margin-bottom: 1.5em;
    overflow: hidden;
}

.absolute-l,
.absolute-r {
    position: absolute;
    top: 25px;
    margin-left: 15px;
}

.absolute-r {
    right: 0;
    margin-right: 15px;
}

.absolute-l {
    left: 0;
}

.padding-container {
    position: relative;
    padding: 1.5em 15px;
    overflow: hidden;
}

/*TABLE*/
.table {
    width: 100%;

    th {
        background-color: $bg-color;
    }

    td,
    th {
        border: 1px solid #d6d6d6;
        padding: 5px;
    }
}

.order-table {
    text-align: center;

    td,
    th {
        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    tr {
        &:last-child {
            border-bottom: solid transparent;
        }
    }
}

.group-row {
    td {
        position: relative;
        border-bottom-color: transparent;

        &:first-child {
            text-align: center;
        }

        &:last-child {
            border-left: solid transparent;
        }
    }

    p {
        position: absolute;
        left: 35px;
        top: 3px;
        background-color: #fff;
        padding-right: 5px;
    }

    hr {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 90%;
        border-top: 2px solid #f7f7f7;
    }
}  

.clickable-row {
    &:hover td {
        @include accent-hover-effect;
    }
}

.clickable-cell {
    &:hover {
        @include accent-hover-effect;
    }

    a {
        @extend .href;
    }
}

/*ICONS*************************************************************
*******************************************************************/
.icon-arrow {
    @include sprite(46px, 25px, 0 -25px);

    position: relative;
    top: .5em;
}

.icon-edit {
    @include sprite(28px, 28px, 0 -54px);
}

.icon-arrow-down {
    @include sprite(27px, 10px, 0 -154px);
}

.icon-arrow-down-lg {
    @include sprite(59px, 22px, 0 -167px);
    cursor: pointer;
}

.icon-lens {
    @include sprite(22px, 22px, 0 0);

    position: absolute;
    right: 9px;
    top: 7px;
    z-index: 10;
    cursor: pointer;
}

.icon-plus {
    @include sprite(32px, 32px, 0 -119px);
}

.icon-clock {
    @include sprite(32px, 32px, 0 -85px);
}

.icon-container {
    &:hover {
        text-decoration: none;
    }
}

.icon-inscription {
    position: relative;
    top: -11px;
    margin-left: 2px;
    color: $dark-gray;
}

.icon-inscription--down {
    @extend .icon-inscription;
    top: -5px;
}

/*FANCY SCROLLBAR***************************************************
*******************************************************************/
.fancy-scrollbar::-webkit-scrollbar { 
    height: 20px; 
    width: 20px;
} 

.fancy-scrollbar::-webkit-scrollbar-track-piece {  
    background: -webkit-linear-gradient(left, #efefef 0%,#efefef 40%,#ffffff 40%,#ffffff 60%,#efefef 60%,#efefef 100%,#efefef 100%,#efefef 100%); 
}

.fancy-scrollbar::-webkit-scrollbar-thumb:horizontal,
.fancy-scrollbar::-webkit-scrollbar-thumb:vertical { 
    background-color: #d8d8d8;
}

.fancy-scrollbar--narrow::-webkit-scrollbar {
    height: 9px; 
    width: 9px;
}

.fancy-scrollbar--narrow::-webkit-scrollbar-track-piece {
    background-color: #d8d8d8;
}

.fancy-scrollbar--narrow::-webkit-scrollbar-thumb:horizontal,
.fancy-scrollbar--narrow::-webkit-scrollbar-thumb:vertical { 
    background-color: #bbb;
}

/*HIDE PANEL BUTTONS************************************************
*******************************************************************/
//For extending only
.btn-hide {
    width: 20px;
    height: 50px;
    position: fixed;
    top: 50%;
    margin-top: -25px;
    z-index: 20;
    background-color: $bg-color;
    cursor: pointer;

    &:before,
    &:after {
        content: " ";
        width: 3px;
        height: 40px;
        position: absolute;
        top: 5px;
        background-color: #fff;
    }
}
//End

.btn-hide-left-panel {
    @extend .btn-hide;
    left: 24%;

    &:before {
        left: 5px;
    }

    &:after {
        left: 12px;
    }
}

.btn-hide-right-panel {
    @extend .btn-hide;
    right: 24%;

    &:before {
        left: 5px;
    }

    &:after {
        left: 12px;
    }
}

/*JS****************************************************************
*******************************************************************/
.js-hidden {
    display: none;
}